---
title: Bacalar Hotels
layout: hotel-archive
category: Bacalar
header_image: /images/destinations/bacalar/bacalar5.jpg
position: photo-center
header_text: 
---

<section class="grid-spaceAround-top padded-5 blog">     
    
    <div class="col-11 grid center">   
        
        <h2>{{page.title}}</h2>

        {% for hotelpost in site.categories[page.category] %}                

            {% include hotel-loop.html hotelpost=hotelpost %}

        {% endfor %}     

    </div>

    <div class="col-12 center capped-width">          

        <a href="/hotels.html" class="button">Back to all hotels</a>
    </div>

</section>

