---
title: Bacalar Hotels
layout: hotel-archive
description_html:
category: Bacalar Hotels
---

<section class="grid-spaceAround-top padded-5 blog">     
    
    <div class="col-11 grid center">   
        
        <h2>{{page.title}}</h2>

        {% for hotelpost in site.categories[page.category] %}                

            {% include hotel-loop.html hotelpost=hotelpost %}

        {% endfor %}     

    </div>

    <div class="col-12 center capped-width">          

        <a href="/hotels.html" class="button">Back to all hotels</a>
    </div>

</section>

