---
layout: default
title: Arminas Travel - Your partner in Mexico 
header_image: /images/team-2.jpg
position2: photo-bottom-center
position: photo-bottom
header_text: Your Gateway to Exclusive<br>Mexican Adventures
team:
 - name: Armina Wolpert
   department: CEO
   profile_image: images/staff/armina.jpg
 - name: Nhia Nouel
   department: Reservations Manager
   profile_image: images/staff/nhia.jpg
 - name: Sandra Archer
   department: Reservations Executive
   profile_image: images/staff/sandra.jpg
 - name: Maribel Hernandez
   department: Contracting Manager
   profile_image: images/staff/maribel.jpg
 - name: Rocio Lopez
   department: Contracting Executive
   profile_image: images/staff/rocio.jpg
 - name: Emir Cano
   department: IT Manager
   profile_image: images/staff/emir.jpg 
 - name: Olga Kamenskaya
   department: Sales Manager
   profile_image: images/staff/olga.jpg 
 - name: Daymary Marfil
   department: Head of Accounting
   profile_image: images/staff/daymary.jpg 
 - name: Merary Marquez
   department: Accounting Manager
   profile_image: images/staff/merary.jpg 
 - name: Veronica Gongora
   department: Accounting Executive
   profile_image: images/staff/veronica.jpg
 - name: Lilia Flores
   department: Financial Analyst
   profile_image: images/staff/lilia.jpg 
 - name: Christian Olvera
   department: Operations Manager
   profile_image: images/staff/christian.jpg 
 - name: Zhanna Pinigina
   department: Concierge & Sales Executive
   profile_image: images/staff/zhanna.jpg
 - name: Francisco Loeza
   department: Operations Executive
   profile_image: images/staff/francisco.jpg
 - name: Carlos Sanchez
   department: IT Support
   profile_image: images/staff/carlos.jpg 
 - name: Wendy Hernandez
   department: Cleaning Services
   profile_image: images/staff/wendy.jpg 
---


<!-- This is a short text section -->
<section class="grid-spaceAround-middle center padded-5">   
    <div class="col-8"> 
         <h1 class="margin-b-2">Arminas Travel, your partner in Mexico</h1>
    </div>

    <div class="col-9_sm-11">         
        <p>Welcome to Arminas Travel, where we specialize in delivering high-quality, reliable services
          designed to exceed the expectations of our discerning clients from Europe, Asia, the Middle East,and Africa. Our bespoke tours and luxury accommodations highlight the unique beauty and diverse experiences that Mexico has to offer. Discover Mexico in unmatched comfort with our  meticulously curated private services, featuring top-tier hotels, captivating excursions, and expert-guided tours, all tailored to your personal preferences. Arminas Travel is a proud partner of the <a href="https://travellermade.com/" target="_blank"><b>Serandipians</b></a> network. </p>       
    </div>  
</section>


<!-- Line -->

{% include line.html %}

<!-- History -->
<section class="grid-spaceAround center padded-5 padded-t-0">   

    <section class="grid-spaceAround-middle center padded-5">
        <div class="col-5_sm-12">    
          <h3>History</h3>     
            <p>Founded in 2007, Arminas Travel is a premier Destination Management Company (DMC) based in
              Mexico. Since its inception, the company has catered to over 10,000 travelers annually, offering specialized services for individual adventurers, group travelers, and corporate clients focused on meetings and incentives. Arminas Travel is dedicated to delivering high-quality and reliable services, ensuring maximum satisfaction for clients from regions such as Europe, Asia, the Middle East, and Africa.
            </p>        
        </div>  
        <div class="col-5_sm-12">
            <div class="bg-image bg-team-1 landscape"></div>
        </div>
    </section>

<!-- Services -->
    <section class="grid-spaceAround-middle center padded-5 flex-flip-sm">
        <div class="col-5_sm-12">
            <div class="bg-image bg-team-2 flip-img landscape"></div>
        </div>
        <div class="col-5_sm-12">  
          <h3>Services</h3>       
            <p>Arminas Travel offers an extensive range of private services across the Mexican Republic,
              thoughtfully organized and coordinated by our team of highly experienced professionals. We
              provide accommodations in the most luxurious and stunning hotels, along with captivating
              excursions and comprehensive tours throughout the country. Our transportation services feature
              modern, comfortable vehicles, and our expert tour guides ensure a rich and engaging journey.
            </p>        
        </div>          
    </section>

    <section class="grid-spaceAround-middle center padded-5">
        <div class="col-5_sm-12">     
             
            <p>With over 100 well-curated and operated tours in Mexico, we create exceptional itineraries
              tailored to the unique requirements of each client. At Arminas Travel, we pride ourselves on
              delivering bespoke services that perfectly align with our customers' needs, making every journey unforgettable.
            </p>        
            <p>Our services are available in English, Spanish, and any other languages you may require, with 24-hour support to ensure a seamless experience</p>
        </div>  
        <div class="col-5_sm-12">
            <div class="bg-image bg-team-3 landscape"></div>
        </div>
    </section>
</section>

<!-- Line -->

{% include line.html %}



<!-- Highlights -->

<section class="grid-spaceAround center padded-5 padded-t-0">   
  <div class="col-8_sm-12"> 
       <h1 class="margin-b-2">Highlights & Awards</h1>
  </div>

  <section class="grid-spaceAround-top center padded-5">
      <div class="col-5_sm-12">         
          <ul>              
              <li> In 2010, Mrs. Armina Wolpert was personally invited by the President of the Republic to participate in the “Launch of the Tourist Routes of Mexico” on behalf of Arminas Travel, which is regarded as one of the premier operators in the country.</li><br>              
          </ul>
      </div>  

      <div class="col-5_sm-12-middle">        
          <div class="bg-image bg-calderon landscape">           
          </div>
          <p class="margin-b-1">Our CEO, Armina Wolpert in event of 'Routes of Mexico' with Former President of Mexico, Mr. Felipe Calderon and Foreign Affairs Secretary Mrs. Patricia Espinoza. 2010</p>          
        </div>


        <div class="col-5_sm-12">         
          <ul>
              <li>At the Tianguis Turístico de México 2022 in Acapulco, our esteemed Director and Founder, Mrs. Armina Wolpert, was honored with a distinguished award for her exceptional contributions to promoting tourism from Europe to Mexico. This prestigious accolade was presented to her by the Governor of Guerrero, alongside other eminent federal authorities.</li><br>              
              <li>Arminas Travel has consistently been recognized and awarded by the Secretary of Tourism of Mexico. We take great pride in officially representing Los Cabos and Mayakoba as premier tourist destinations in Eastern Europe.</li>
          </ul>
      </div>  

      <div class="col-5_sm-12-middle">      
          
          <div class="bg-image bg-tianguis landscape"></div>
          <p>Highest level of recognition of Mexican tourism industry for our company awarded by Minister of Interior Adán Augusto López Hernández and Minister of Tourism, Miguel Torruco</p>
        </div>
</section>
     
  </section>


<!-- Tradefairs -->

<section class="grid-spaceAround-middle padded-5">
  <div class="col-5_sm-12 padded-1">
    <h3>Trade Fairs</h3>
    <p>These are the fairs were we regularly participate if you want to meet in person!</p>
    <ul>
      <li><a href="https://www.iltm.com/cannes/en-gb.html#/" target="_blank"><u>ILTM Cannes, France</u></a> </li>
      <li><a href="https://www.iltm.com/north-america/en-gb.html" target="_blank"><u>ILTM North America, Bahamas</u></a> </li>
      <li><a href="https://www.travel-fest.com/" target="_blank"><u>TFest, Mexico</u></a> </li>
      <li><a href="https://www.wtm.com/atm/en-gb.html" target="_blank"><u>Arabian Travel Mart, UAE</u></a> </li>
      <li>Deluxe Travel Market Evian, France</li>
      <li>Deluxe Travel Market Riga, Latvia</li>
      <li>Deluxe Travel Market Almaty, Kazakhstan</li>
      <li>Deluxe Travel Market Baku, Azerbaijan</li>
      <li><a href="https://www.wtm.com/london/en-gb.html#/" target="_blank"><u>WTM London, United Kingdom</u></a> </li>
      <li><a href="https://www.wtm.com/africa/en-gb.html" target="_blank"><u>WTM Africa, South Africa</u></a> </li>
      <li><a href="https://frankfurt.imexevents.com/" target="_blank"><u>IMEX Frankfurt, Germany</u></a> </li>
       <li><a href="https://www.ibtmamericas.com/en-gb.html#/" target="_blank"><u>IBTM Americas, Mexico</u></a> </li>
       <li>Global Luxury Travel, Austria</li>
       <li>ITE Hong Kong</li>
       <li>Asamblea de LCC, Worldwide</li>
       <li>Mexico Link Travel, Germany, Austria, Switzerland and Ukraine</li>
      <li><a href="https://en.tianguisturistico.com/" target="_blank"><u>Tianguis Turistico, Mexico</u></a> </li>
      <li><a href="https://cancuntravelmart.com/" target="_blank"><u>Cancun Travel Mart, Mexico</u></a> </li>





     
    </ul>
  </div>

  <div class="col-5_sm-12-middle">
    <div class="bg-image bg-feria photo-center portrait"></div>
  </div>
</section>



<!-- Line -->

{% include line.html %}

<!-- Our team -->

<section class="grid-spaceAround center padded-5 padded-t-0 padded-b-0">   
  <div class="col-8"> 
       <h1 class="margin-b-2">Our Team</h1>
  </div>

  <div class="padded-1 grid-spaceAround">

      {% for person in page.team %}	
    <div class="col-2_sm-6 padded-1">
    <img src="{{person.profile_image}}" class="profile-image">
          <h3>{{person.name}}</h3>
          <p>{{person.department}}</p>     
       </div>
 
   {% endfor %}   
  </div>

</section>


</section>

