---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
team:
 - name: Armina Wolpert
   department: CEO
   profile_image: images/staff/armina.jpg
 - name: Nhia Nouel
   department: Contracting Manager
   profile_image: images/staff/nhia.jpg
 - name: Sandra Archer
   department: Reservations Manager
   profile_image: images/staff/sandra.jpg
 - name: Maribel Hernandez
   department: Contracting Manager
   profile_image: images/staff/maribel.jpg
 - name: Rocio Lopez
   department: Contracting Executive
   profile_image: images/staff/rocio.jpg
 - name: Veronica Gongora
   department: Account Assistant
   profile_image: images/staff/veronica.jpg
 - name: Zhanna Pinigina
   department: Sales
   profile_image: images/staff/zhanna.jpg
 - name: Christian Olvera
   department: Operations Executive
   profile_image: images/staff/christian.jpg 
 - name: Francisco Loeza
   department: Security
   profile_image: images/staff/francisco.jpg
 - name: Daymary Marfil
   department: Accountant
   profile_image: images/staff/daymary.jpg 
 - name: Merary Marquez
   department: Accountant
   profile_image: images/staff/merary.jpg 
 - name: Lilia Flores
   department: Accountant
   profile_image: images/staff/lilia.jpg 
 - name: Emir Cano
   department: Project Manager
   profile_image: images/staff/emir.jpg 
 - name: Carlos Sanchez
   department: Team Support
   profile_image: images/staff/carlos.jpg 
 - name: Anna Urazaeva
   department: Sales Executive
   profile_image: images/staff/annau.jpg 
 - name: Olga Kamenskaya
   department: Sales Manager
   profile_image: images/staff/olga.jpeg 
 - name: Leo Gunho Hur
   department: Sales Manager
   profile_image: images/staff/leo.jpg 
---


<!-- This is a short text section -->
<section class="grid-spaceAround-middle center padded-5">   
    <div class="col-8"> 
         <h1 class="margin-b-2">Arminas Travel, your partner in Mexico</h1>
    </div>

    <div class="col-9">         
        <p>Welcome to Arminas Travel, where we specialize in providing high-quality, reliable services that ensure the highest level of satisfaction for our discerning clients from Europe, Asia, the Middle East, and Africa. Our bespoke tours and luxury accommodations showcase the unique beauty and diverse opportunities across Mexico. Experience Mexico in unparalleled comfort with our meticulously organized private services, including top-tier hotels, fascinating excursions, and expert-guided tours, all tailored to your preferences.</p>       
    </div>  
</section>

<!-- Line -->

{% include line.html %}

<!-- History -->
<section class="grid-spaceAround center padded-5">   
    <div class="col-8"> 
         <h1 class="margin-b-2">History</h1>
    </div>

    <section class="grid-spaceAround-middle center padded-5">
        <div class="col-5">         
            <p>Founded in 2007, Arminas Travel is a premier DMC (Destination Management Company)  in Mexico. Since our start, we have catered to over 10,000 travelers annually, including individual adventurers, group travelers, and corporate meetings & incentives. Our commitment to high-quality and reliable services ensures the utmost satisfaction for our discerning clients from Europe, Asia, the Middle East, and Africa.
            </p>        
        </div>  
        <div class="col-5">
            <div class="bg-image bg-team-1 landscape"></div>
        </div>
    </section>

    <section class="grid-spaceAround-middle center padded-5">
        <div class="col-5">
            <div class="bg-image bg-team-2 landscape"></div>
        </div>
        <div class="col-5">         
            <p>Arminas Travel offers an extensive array of private services across the Mexican Republic, meticulously organized and coordinated by our team of seasoned professionals. We provide accommodations in the most luxurious and beautiful hotels, captivating tours, and comprehensive tours throughout the country. Our transportation services feature new, comfortable vehicles, and our experienced tour guides ensure an enriching journey.
            </p>        
        </div>          
    </section>

    <section class="grid-spaceAround-middle center padded-5">
        <div class="col-5">         
            <p>With over 100 expertly designed and operated tours in Mexico, we create extraordinary itineraries tailored to the unique requirements of each client. At Arminas Travel, we pride ourselves on delivering bespoke services that perfectly align with our customers' needs, making every journey unforgettable.
            </p>        
        </div>  
        <div class="col-5">
            <div class="bg-image bg-team-3 landscape"></div>
        </div>
    </section>
</section>


<!-- Line -->

{% include line.html %}

<!-- Highlights -->

<section class="grid-spaceAround center padded-5">   
    <div class="col-8"> 
         <h1 class="margin-b-2">Highlights</h1>
    </div>

    <section class="grid-spaceAround-middle center padded-5">
        <div class="col-5">         
            <ul>
                <li>At the recent Tianguis Turistico de Mexico 2022 in Acapulco, our Director and Founder, Mrs. Armina Wolpert, was honored with a prestigious recognition for her outstanding work in promoting tourism from Europe to Mexico. She received this accolade from the Governor of Guerrero and other distinguished federal authorities in attendance.</li>
                <li>In 2010, Mrs. Armina Wolpert was invited by the President of the Republic to participate in the “Launch of the Tourist Routes of Mexico” on behalf of Arminas Travel, which is considered one of the best operators in Mexico.</li>
                <li>Arminas Travel has been awarded and recognized by the Secretary of Tourism of Mexico and are proud to officially represent Los Cabos and Mayakoba as premier tourist destinations in Eastern Europe.</li>
            </ul>
        </div>  
        <div class="col-5">
            <div class="bg-image bg-calderon landscape"></div>
        </div>
    </section>
</section>

<!-- Line section -->
{% include line.html %}

<!-- Our team -->

<section class="grid-spaceAround center padded-5">   
    <div class="col-8"> 
         <h1 class="margin-b-2">Our Team</h1>
    </div>

    <div class="padded-1 grid-spaceAround">

        {% for person in page.team %}	
	    <div class="col-2 padded-1">
			<img src="{{person.profile_image}}" class="profile-image">
            <h3>{{person.name}}</h3>
            <p>{{person.department}}</p>     
       	</div>
   

   	{% endfor %}

   
    </div>

</section>


<!-- Add team members section -->

    
</section>
