---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---


<!-- DESTINATIONS TEXT -->
<section class="grid-spaceAround center padded-5">
        
    {% include destinations-text.html %}

</section>  

<!-- Line -->
{% include line.html %}


<!-- DESTINATIONS grid -->
<section class="grid-spaceAround-top center padded-5 blog">     
    
    <div class="col-11 grid">
    
        {% for destpost in site.destposts %}

            {% include dest-loop.html %}

        {% endfor %}

    </div>
</section>