---
layout: default
title: Arminas Travel - Your partner in Mexico 
position: photo-center
header_image: /images/destinations/oaxaca/oaxaca12.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---


<!-- DESTINATIONS TEXT -->
<section class="grid-spaceAround center padded-5 margin-b-0">
        
    {% include destinations-text.html %}

</section>  

<!-- Line -->
{% include line.html %}


<!-- DESTINATIONS grid -->
<section class="grid-spaceAround-top center padded-5 padded-t-1blog">     
    
    <div class="col-11 grid">
    
        {% for destpost in site.destposts %}

            {% include dest-loop.html %}

        {% endfor %}

    </div>
</section>