---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---



<!-- Hotels grid -->
<section class="grid-spaceAround-top center padded-5 blog">     
    
    <div class="col-2 left border padded-1">
        <h3>Excursions departing from</h3>
        {% for excarchive in site.excarchives %}
        <div class="col-3_sm-4_xs-6 left margin-b-1">
            <a href="{{excarchive.url}}">&#9634; {{excarchive.location | replace: "-", " "}}</a>
        </div>
        {% endfor %}

    </div>


    <div class="col-10 grid">
    
        {% for excpost in site.excposts %}
            {% include exc-loop.html %}
        {% endfor %}

    </div>
</section>

