---
layout: default
title: Arminas Travel
position: photo-center
header_image: /images/destinations/palenque/palenque10.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---

<!-- TOURS LOOP Section -->
<section class="grid-spaceAround center margin-t-2">

    <div class="col-8 center">
   <h2 class="margin-b-1">One-Day Excursions</h2>
   <p>We offer a large variety of interesting one-day excursions in the main destinations around the country. </p>
   <p>Below you can see a selection of what we can offer, but we are very flexible and can adapt to your needs and likings. </p>
</div>
    </section>

<!-- Hotels grid -->
<section class="grid-spaceAround-top center padded-5 blog">     
    
    <div class="col-2 left border padded-1">
        <h3>Excursions departing from</h3>
        {% for excarchive in site.excarchives %}
        <div class="col-3_sm-4_xs-6 left margin-b-1">
            <a href="{{excarchive.url}}">&#9634; {{excarchive.location | replace: "-", " "}}</a>
        </div>
        {% endfor %}

    </div>


    <div class="col-10 grid">
    
        {% for excpost in site.excposts%}
            {% include exc-loop.html %}
        {% endfor %}

    </div>
</section>

