---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---


<!-- Categories -->
<section class="grid-spaceAround-middle padded-5">
    <div class="col-10 grid-spaceAround">
        {% for excarchive in site.excarchives %}
        <div class="col-4_xs-6 center padded-1 margin-b-1">
            <a href="{{excarchive.url}}" class="button">{{excarchive.title | replace: "-", " "}}</a>
        </div>
        {% endfor %}
    </div>
</section>



<!-- Hotels grid -->
<section class="grid-spaceAround-top center padded-5 blog">     
    
    <div class="col-11 grid">
    
        {% for excpost in site.excposts %}
            {% include exc-loop.html %}
        {% endfor %}

    </div>
</section>

