---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---


<!-- Hotels  SECTIONS -->
<section class="grid-spaceAround center padded-5">
    {% include hotels-text.html %}
</section>

<!-- Line -->
{% include line.html %}


<!-- Hotels grid -->
<section class="grid-spaceAround-top center padded-5">     
    
    <div class="col-9">
    
        {% for hotel in site.hotelposts %}

            {% hotel-loop.html %}

        {% endfor %}

    </div>
</section>

