---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---


<!-- Hotels  SECTIONS -->
<section class="grid-spaceAround center padded-5">
    {% include hotels-text.html %}  
</section>




<!-- Categories -->
<section class="grid-spaceAround-middle">
    <div class="col-10 grid-spaceAround">
        {% for hotelarchive in site.hotelarchives %}
        <div class="col-3 center margin-b-1">
            <a href="{{hotelarchive.url}}" class="button">{{hotelarchive.category}}</a>
        </div>
        {% endfor %}


    </div>


</section>



<!-- Hotels grid -->
<section class="grid-spaceAround-top center padded-5 blog">     
    
    <div class="col-11 grid">
    
        {% for hotelpost in site.hotelposts %}

            {% include hotel-loop.html %}

        {% endfor %}

    </div>
</section>

