---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---


<!-- Hotels  SECTIONS -->
<section class="grid-spaceAround center padded-5">
    {% include hotels-text.html %}
</section>

<!-- Line -->
{% include line.html %}

<!-- Categories -->
<section class="grid">
    <div class="col-8">
        {% for hotelarchive in site.hotelarchives %}
            <a href="{{hotelarchive.url}}" class="button">{{hotelarchive.category}}</a>
        {% endfor %}


    </div>


</section>



<!-- Hotels grid -->
<section class="grid-spaceAround-top center padded-5 blog">     
    
    <div class="col-11 grid">
    
        {% for hotelpost in site.hotelposts %}

            {% include hotel-loop.html %}

        {% endfor %}

    </div>
</section>

