---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---



<!-- This is a short text section -->
 <section class="grid-spaceAround center padded-5">   

    <div class="col-8 center"> 
         <h1 class="margin-b-2">Arminas Travel, your partner in Mexico</h1>
    </div>

    <div class="col-9 center">         
        <p>Welcome to Arminas Travel, where we specialize in providing high-quality, reliable services that ensure the highest level of satisfaction for our discerning clients from Europe, Asia, the Middle East, and Africa. Our bespoke tours and luxury accommodations showcase the unique beauty and diverse opportunities across Mexico. Experience Mexico in unparalleled comfort with our meticulously organized private services, including top-tier hotels, fascinating excursions, and expert-guided tours, all tailored to your preferences.</p>
        <a href="/aboutus.html" class="button">Read more</a>
    </div>  
    
</section>

<!-- Line section -->
{% include line.html %}


<!-- Tours section -->
<section class="grid-spaceAround center padded-5">
        
    {% include tours-text.html %}

    <div class="col-12 grid-spaceAround center">
        <div class="col-3">
            <div class="bg-image square"></div>
                <a href="#" class="tours">
                    <h3 class="tours">Haciendas of Yucatan</h3>
                    <p>This 5 day tours presents you the history of the Yucatan Peninsula.</p>
                </a>
            </div>

        <div class="col-3">
            <div class="bg-image square"></div>
                <a href="#" class="tours">
                    <h3 class="tours">Haciendas of Yucatan</h3>
                    <p>This 5 day tours presents you the history of the Yucatan Peninsula.</p>
                </a>
            </div>

        <div class="col-3">
            <div class="bg-image square"></div>
                <a href="#" class="tours">
                    <h3 class="tours">Haciendas of Yucatan</h3>
                    <p>This 5 day tours presents you the history of the Yucatan Peninsula.</p>
                </a>
        </div>
            
        <div class="col-12">
                <a href="/tours.html" class="button">More Tours</a>
            </div>        
         </div>
    </div>
</section>


<!-- DESTINATIONS section -->
<section class="grid-spaceAround center padded-5 bg-blue">
        
    {% include destinations-text.html %}

    <div class="col-12 grid-spaceAround center">
        <div class="col-3">
            <div class="bg-image bg-cdmx square"></div>
                <a href="/destinations/mexicocity" class="tours">
                    <h3 class="tours">Mexico City</h3>
                    <p>A vibrant metropolis blending rich history, modern sophistication, and dynamic culture.</p>
                </a>
            </div>

        <div class="col-3">
            <div class="bg-image bg-lapaz square"></div>
                <a href="/destinations/lapaz.md" class="tours">
                    <h3 class="tours">La Paz</h3>
                    <p>A coastal gem known for its serene beaches, stunning sunsets, and vibrant marine life.</p>
                </a>
        </div>

        <div class="col-3">
            <div class="bg-image  bg-yucatan square"></div>
                <a href="/destinations/yucatan.md" class="tours">
                    <h3 class="tours">Yucatan</h3>
                    <p>A captivating blend of ancient Mayan ruins, stunning cenotes, and rich cultural heritage.</p>
                </a>
        </div>
            
        <div class="col-12">
                <a href="/destinations.html" class="button-white">Destinations</a>
        </div>        
    </div>
</section> 







<!-- HOTELS section -->
<section class="grid-spaceAround center padded-5">
        
    {% include hotels-text.html %}
    
    <div class="col-12 grid-spaceAround center">
        <div class="col-3">
            <div class="bg-image square"></div>
            <a href="#" class="tours">
                <h3 class="tours">Casa Polanco, Mexico City</h3>
                <p>The perfect spot to relax away from the hustle and bustle in the city. This unique property offers xxxxx</p>
            </a>
        </div>
    
        <div class="col-3">
            <div class="bg-image square"></div>
            <a href="#" class="tours">
                <h3 class="tours">Casa Malca, Tulum</h3>
                <p>Be surrounded by art while enjoying the best beaches in the world in this location full of history. </p>
            </a>
        </div>
    
        <div class="col-3">
            <div class="bg-image square"></div>
            <a href="#" class="tours">
                <h3 class="tours">Chable Yucatan</h3>
                <p>There is a reason this property has been named the best hotel in the service. The truly personal service and an unparralled decor make this the perfect escape. </p>
            </a>
        </div>
                
        <div class="col-12">
            <a href="/hotels.html" class="button">Our favorite hotels</a>
        </div>        
     </div>
</section>

<!-- Social section -->



