:root{
--sans-serif:'Work Sans', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

[class*='col-'], [class*='grid']{
    padding:0;
    margin:0;
}

img{
    max-width:100%;
}

html {
    scroll-behavior: smooth;
  }

body, html{
    overflow-x: hidden;
  }

  /* Utility classes */


.padded-1{padding:1rem;}
.padded-3{padding:3rem;}
.padded-5{padding:5%;}
.padded-l-5{padding-left:5%;}
.padded-r-t{padding-right:5%;}
.padded-t-0{padding-top:0;}
.padded-t-1{padding-top:1rem;}
.padded-b-1{padding-bottom:1rem;}
.padded-b-0{padding-bottom:0;}

.margin-5{margin:5%;}
.margin-1{margin:1rem;}
.margin-b-1{margin-bottom:1rem;}
.margin-b-2{margin-bottom:2rem;}
.margin-t-2{margin-top:2rem;}
.margin-b-0{margin-bottom:0;}

.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}

.vh-10{min-height:10vh;}
.vh-30{min-height:30vh;}
.vh-40{min-height:40vh;}
.vh-50{min-height:50vh;}
.vh-60{min-height:60vh;}
.vh-65{min-height:65vh;}
.vh-70{min-height:70vh;}
.vh-80{min-height:80vh;}
.vh-90{min-height:90vh;}
.vh-100{min-height:100vh;}

/* Fonts & Typography */

h1, h2{
    font-family: var(--sans-serif);
    font-size: 2.8rem;
    font-weight:200;
}

h3, h4, h5, h6{
    font-family: var(--sans-serif);
    font-size: 1.5rem;
    font-weight:300;
    margin-bottom:1rem;
    margin-top:0.5rem;
}





p{
    font-family: var(--sans-serif);
    font-weight:300;
    line-height:1.6;
    margin-bottom:2rem;
}

.light-text{
    color: white;
}


/* Add image styles */
.portrait{padding-bottom:125%;}
.square{padding-bottom:100%;}
.landscape{padding-bottom:66%;}


.bg-image{
    background-image:url('/images/horizontal.jpg');    
    background-size:cover;
    background-position:center;
    background-color:lightskyblue;
    background-repeat:no-repeat;    
}

/* Button Styles */
.nav .button{
    border: 0.1em solid black;   
    padding: 0.5rem 1rem;
    display:inline-block;    
    color:inherit;    
}


.button{
    border: 0.1em solid black;     
    display:inline-block;
    text-decoration:none;
    color:inherit;
    padding:1.2rem;
    font-family:var(--sans-serif);
    font-weight:200;
    text-transform:uppercase;
}

.button:hover{
    border:0.2em solid grey;
    font-weight:400;
}

/* Link Styles */
.tours{
    text-decoration:none;
    color:inherit;
}

h3.tours:hover{
    text-decoration:underline;
}

/* Header styles */
header nav a{
    font-size:1.2rem;
    text-decoration:none;
    color:inherit;
    padding:0.5rem;
    margin:0.5rem;
    font-family:var(--sans-serif);
    font-weight:300;
    text-transform:uppercase;
}

header nav a:hover{
    border-bottom:1px solid black;
    
}

.bg-header{
    background-image:url('/images/horizontal.jpg');    
    background-size:cover;
    background-position:center;
    background-color:lightskyblue;
    background-repeat:no-repeat;
    position:relative;
}

.bg-overlay::before{
    content:"";
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background: linear-gradient(180deg, rgba(0,0,0,0.5),
    rgba(0,0,0,0));
    z-index:50;
}

.header-text{
    font-size:4rem;
    line-height:1;
    font-weight:200;
    z-index: 100;
    position:relative;
}

/* Mobile Menu Styles */



/* Footer Styles */




/* Slick Slider */


.show-xs, 
.show-sm,
.show-md,
.xs-show,
.mobile-menu{
    display:none;
}
/* Media Queries */

@media (max-width:64em){
    
}

@media (max-width: 48em) {

    .show-sm{display:block;}
    .hide-sm{display:none;}
    
}

@media (max-width: 36em){

    .hide-xs{
        display:none;
    }

    .xs-show{display:block;}
    
}