---
layout: default
title: Arminas Travel
header_image: /images/horizontal.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---



<!-- TOURS LOOP Section -->
<section class="grid-spaceAround center padded-5">

{% include tours-text.html %}

</section>


<!-- Categories -->
<!-- <section class="grid-spaceAround-middle">
    <div class="col-10 grid-spaceAround">
        {% for tourarchive in site.tourarchives %}
        <div class="col-2_sm-4_xs-6 center padded-1 margin-b-1">
            <a href="{{tourarchive.url}}" class="button">{{tourarchive.title | replace: "-", " "}}</a>
        </div>
        {% endfor %}
    </div>
</section> -->




<!-- Tours grid -->
<section class="grid-spaceAround-top center padded-5 blog">     

    <div class="col-2 left border padded-1">
        <h3>Tours departing from</h3>
        {% for tourarchive in site.tourarchives %}
        <div class="col-3_sm-4_xs-6 left margin-b-1">
            <a href="{{tourarchive.url}}">&#9634; {{tourarchive.location | replace: "-", " "}}</a>
        </div>
        {% endfor %}

    </div>


    
    <div class="col-10 grid">
    
        {% for tourpost in site.tourposts %}
            {% include tour-loop.html %}
        {% endfor %}

    </div>
</section>


