---
layout: default
title: Arminas Travel
position: photo-center
header_image: /images/destinations/palenque/palenque10.jpg
header_text: Your Gateway to Exclusive<br>Mexican Adventures
---



<!-- TOURS LOOP Section -->
<section class="grid-spaceAround center padded-5">

{% include tours-text.html %}

</section>




<!-- Tours grid -->
<section class="grid-spaceAround-top center padded-5 blog">     

    <div class="col-2_sm-10 left border grid padded-1">
        <h3 class="padded-1">Tours departing from</h3>
        {% for tourarchive in site.tourarchives %}
        <div class="col-12 left padded-l-1 margin-b-1">
            <a href="{{tourarchive.url}}">&#9634; {{tourarchive.location | replace: "-", " "}}</a>
        </div>
        {% endfor %}

    </div>


    
    <div class="col-10 grid">
    
        {% for tourpost in site.tourposts %}
            {% include tour-loop.html %}
        {% endfor %}

    </div>
</section>


