<footer class="grid-spaceAround-top padded-1 bg-blue">
    <div class="col-4_sm-3-middle">
        <img src="/images/logo.png" alt="Arminas Travel">
    </div>

    <div class="col-3 padded-1">
        <h3>Explore</h3>
        <a href="/index.html">
            <p>Home</p>
        </a>
        <a href="/tours.html">
            <p>Tours</p>
        </a>
        <a href="/destinations.html">
            <p>Destinations</p>
        </a>
        <a href="/hotels.html">
            <p>Hotels</p>
        </a>
        <a href="/aboutus.html">
            <p>About Us</p>
        </a>
        <a href="/contact.html">
            <p>Contact</p>
        </a>
    </div>

    <div class="col-3_sm-5 padded-1">
        <h3>Connect</h3>
        <a href="https://www.facebook.com/arminastravel" target="_blank"><p>Facebook</p></a>
        <a href="https://www.instagram.com/arminastravelmexico/" target="_blank"><p>Instagram</p></a>
        <a href="mailto:mexico@arminastravel.com"><p>mexico@arminastravel.com</p></a>
        <a href="#"><p>+52 998 892 4883</p></a>
        <p>Calle Cielo, Cancun, Mexico</p>
    </div>
</footer>