<header id="navbar"  class="grid-right-bottom padded-1 margin-b-1">
    <a href="/index.html" class="col-2_sm-6 center logo">
        <img src="/images/logo.jpg" alt="Arminas Travel">
    </a>
    
    <nav class="col-8 right padded-1 hide-md">   
            <a href="/index.html">Home</a>     
            <a href="/destinations.html">Destinations</a>
            <a href="/tours.html">Tours</a>
            <a href="/excursions.html">Excursions</a>
            <a href="/hotels.html">Hotels</a>
            <a href="/aboutus.html">About Us</a>
            <a href="/contact.html">Contact</a>
            <a href="https://www.instagram.com/arminastravelmexico/" target="_blank" class="social"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/arminastravel" target="_blank" class="social"><i class="fa-brands fa-facebook"></i></a>            
            <a href="https://www.youtube.com/channel/UCNJuiCfdwF00hH4oananhzg" target="_blank" class="social"><i class="fa-brands fa-square-youtube"></i></a>
            <!-- <a href="https://t.me/sitemx" target="_blank"><i class="fa-brands fa-telegram" class="social"></i></a> -->
    </nav>
            
        <div class="col-2 center padded-1 hide-md" id="ars"><a href="https://www.arstool.com/Login" id="ars" target="_blank"><p class="center" id="ars"><strong>ARS</strong><br>Arminas<br>Rates System</a></p></div>
            
            

       
         
        <!-- <div class="col-2 hide-md right">{% include google-search.html %}</div> -->

    <div class="col-6 right show-md">
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

</header>

    <section class="grid-spaceAround vh-70 bg-header bg-overlay hide-md {{page.position}} " style="background-image:url('{{page.header_image}}')">
        <div class="col-12-top right light-text padded-1 padded-r-5">
            <p class="medium-text header-text">{{page.header_text}}</p>
        </div>
    </section>

    <section class="grid-spaceAround-middle vh-50 bg-header {{page.position}} bg-overlay show-md" style="background-image:url('{{page.header_image}}')">
        <div class="col-12-middle padding-t-30 center light-text padded-1 padded-r-5">
            <p class="medium-text header-text">{{page.header_text}}</p>
        </div>
    </section>

    <section class="mobile-menu">
        <nav class="col-12 right">
            <a href="/destinations.html">Destinations</a>
            <a href="/tours.html">Tours</a>
            <a href="/excursions.html">Excursions</a>
            <a href="/hotels.html">Hotels</a>
            <a href="/aboutus.html">About Us</a>
            <a href="/contact.html">Contact</a>
            <a href="https://www.instagram.com/arminastravelmexico/" target="_blank" class="social"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/arminastravel" target="_blank" class="social"><i class="fa-brands fa-facebook"></i></a>            
            <a href="https://www.youtube.com/channel/UCNJuiCfdwF00hH4oananhzg" target="_blank" class="social"><i class="fa-brands fa-square-youtube"></i></a>
            <!-- <a href="https://t.me/sitemx" target="_blank"><i class="fa-brands fa-telegram" class="social"></i></a> -->
            <a href="https://www.arstool.com/Login"   target="_blank">ARS - Arminas Rates System</a>
            <div>{% include google-search.html %}</div>        
        </nav> 
    
      
    </section>