<header class="grid-spaceAround-middle padded-1 margin-b-1">
    <a href="/index.html" class="col-2 center logo">
        <img src="images/logo.png" alt="Arminas Travel">
    </a>
    
    <nav class="col-10 center padded-1">        
            <a href="/destinations.html">Destinations</a>
            <a href="/tours.html">Tours</a>
            <a href="/excursions.html">Excursions</a>
            <a href="/hotels.html">Hotels</a>
            <a href="/aboutus.html">About Us</a>
            <a href="/contact.html">Contact</a>
            <a href="https://www.arstool.com/Login" class="button" target="_blank"  >ARS</a>        
    </nav>

</header>

    <section class="grid-spaceAround vh-70 bg-header bg-overlay" style="background-image:url('{{page.header_image}}')">
        <div class="col-12-top right light-text padded-1 padded-r-5">
            <p class="medium-text header-text">{{page.header_text}}</p>
        </div>
    </section>