<div class="col-8"> 
    <h2 class="margin-b-2">Our favorite hotels</h2>
</div>    
<div class="col-9 margin-b-2">
    <p>
        With hundreds of hotels across Mexico, we have handpicked our favorites just for you! Each of these exceptional hotels offers something truly special, whether it's a unique dining experience, an outstanding sustainability program, or a fantastic kids' club. We're excited to share these treasures with you.</p>
    <p>
        At Arminas Travel, we have direct contracts with all the top hotels and are eager to guide you to the best options for your travel desires.</p>
    </p>
</div>

