<!DOCTYPE html>
<html>
    {% include head.html %}

<body>

    {% include header.html %}

    {{content}}

    {% include footer.html %}

<!-- This is the Jquery script cdnjs. Always goes first. -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/path/to/scripts.js"></script>
</body>

</html>