---
layout: default
---


<section class="grid-spaceAround-top center padded-5 blog">     
    
    <div class="col-11 grid">      
        
        <h2>{{page.title}}</h2>
        <p>Category: {{ page.category | replace: "-", " " }}</p>

            {% assign posts_in_category = site.destposts | where: "categories", page.category %}        
                {% for post in posts_in_category %}
                {% include dest-loop.html destpost=destpost %}

        {% endfor %}

    </div>
</section>
