---
layout: default
---

<section class="grid-spaceAround-top padded-5 blog">
    <div class="col-12">
        <h2 class="center">{{ post.name }}</h2>
       
       
        <div class="col-12 padded-1 grid">
     
            {% assign posts_in_category = site.destposts | where: "categories", page.category %}
            {% for post in posts_in_category %}
            <div class="col-3 padded-1">
            
            <a href="{{post.url}}">
                <div class="bg-image square" style="background-image:url({{post.header_image}})">  </div>
                <h3>{{post.title}}</h3>
                <p>{{post.location}}</p>
            </a>  
        </div>             

            {% endfor %}
       
        </div>
        <div class="col-12 center padded-1">
        <a href="/destinations.html" class="button">Back to all destinations</a>
    </div>
    </div>
</section>