---
layout: default
---

    <section class="grid-spaceAround-top padded-5 blog">
        <div class="col-12 ">
            <h2 class="center margin-b-1 header">{{ page.title }}</h2>
                
            <div class="col-11 padded-1 grid">
         
                {% assign posts_in_category = site.excposts | where: "categories", page.category %}
                {% for post in posts_in_category %}
            <div class="col-3_sm-4_xs-6 padded-1 center">
                
                <a href="{{post.url}}">
                    <div class="bg-image square" style="background-image:url('{{post.header_image}}')">  </div>
                    <h3>{{post.title}}</h3>
                    <p>{{post.location}}</p>
                </a>  
            </div>             
    
                {% endfor %}
           
            </div>
            <div class="col-12 center padded-1">
            <a href="/excursions.html" class="button">Back to all excursions</a>
        </div>
        </div>
    </section>
