<!DOCTYPE html>
<html>
    {% include head.html %}

<body>

    {% include header.html %}

    {{content}}

    {% include footer.html %}

<!-- This is the Jquery script cdnjs. Always goes first. -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- This is for animate on scroll -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<!-- Slick Slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- Our custom javascript file. Always goes last.  -->
<script src="scripts.js"></script>

</body>

</html>
