<div class="image-gallery">
    <div>
        <div class="{{include.image_size_ratio}}">
            <img src="{{ include.image }}" alt="{{ include.first-alt }}">
        </div>
    </div>
    
    <div>
        <div class="{{include.image_size_ratio}}">
            <img src="{{ include.image }}" alt="{{ include.second-alt }}">
        </div>
    </div>
   
    <div>
        <div class="{{include.image_size_ratio}}">
            <img src="{{ include.image }}" alt="{{ include.second-alt }}">
        </div>
    </div>
  
</div>